.body_container {

}

.filter-container {
    border: 2px solid brown;
    display: flex;
    width: 25%;
    height: 80vh;
}
.filter-container-child{
    margin: auto;
    background: blue;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.filter-results-container {
    overflow: auto;
    border: 2px solid black;
    width: 75%;
    height: 80vh;
    display: flex;
}
.filter-results-container-child {
    margin: auto;
    background: red;
    width: 100%;
    height: 80%;
    display: flex;
}
.productContainer {
    background: white;
    margin: auto;
}
.item-name-placeholder {
    position: absolute;
    width: 0;
    visibility: hidden;
}