.body_container {

}

.search {
    border: 2px solid brown;
    width: 25%;
}

.search_results {
    overflow: auto;
    border: 2px solid black;
    width: 75%;
}

.img {
    width: 5rem;
}

.form_placeholder {
    visibility: hidden;
}