/*dashboard command container*/
.dashboardCmdContainer {
    display: flex;
    max-height: 80%;
}
.CmdContainer {
    border: 2px solid green;
    margin: auto;
}

/*user_profile_container*/
.user_profile_container {
    border: 2px solid black;
    display: flex;
    width: 80%;
}
.user_icon {
    border: 2px solid orange;
}
.profile_values {
    border: 2px solid blue;
}

/*listing_form*/
.listing_form {
    border: 2px solid green;
    margin: auto;
    width: 80%;
}

.dashboard-title {
    margin: auto;
}
.information-container {
    display: flex;
    flex-direction: column;
    background: red;
    width: 70%;
    max-height: 80vh;
}
