/*

DASHBOARD.HTML BODY

*/

/* 
profile:
-user_profile_container
-listing_form
*/
.profile {
    border: 2px solid green;
    width: 25%;
    max-height: 80%;
}

/*user_profile_container*/
.user_profile_container {
    border: 2px solid black;
    display: flex;
    width: 80%;
}
.user_icon {
    border: 2px solid orange;
}
.profile_values {
    border: 2px solid blue;
}

/*listing_form*/
.listing_form {
    border: 2px solid red;
    width: 80%;
}

/*
user_listing_container:
-history_container
-active_listing_container
-pending_listings_container
*/
.dashboard-title {
    margin: auto;
}
.information-container {
    display: flex;
    flex-direction: column;
    background: red;
    width: 70%;
    max-height: 80vh;
}

/*forms*/
.form_placeholder {
    visibility: hidden;
}
