/* 

INDEX.HTML BODY

*/

/*summary*/
.summary_container {
    border: 2px solid pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.summary_text {
    border: 2px solid green;
    width: 90%;
    height: 50%;
    margin: auto;
    display: flex;
}
.text-summary {
    border: 2px solid blue;
    width: 90%;
    margin: auto;
}

.scroll-container {
    border: 2px solid orange;
    display: flex;
    width: 90%;
    margin: auto;
}
.scroll {
    width: 50%;
    margin: auto;
}

/*
app widget:
-upload shortcut
-catagory division shortcuts
*/
.app_widget {
    border: 2px solid blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-widget-container{
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    height: 75%;
    margin: auto;
}
.upload-shortcut-container {
    border: 2px solid purple;
    margin: auto;
}
/*upload shortcut*/
.upload_shortcut {
    border: 2px solid red;
    height: 100%;
    min-width: 25%;
    display: flex;
}


/*catagory division shortcuts*/
.catagory_division_shortcuts {
    height: 100%;
    border: 2px solid green;
    display: flex;
}
.catagory_summary {
    border: 2px solid pink;
    width: 100%;
}


/*associations*/
.associations {
    border: 2px solid black;
    height: 100vh;
    display: flex;
}
.associates_container {
    margin: auto;
}
