/*update user information input fields visibility*/
.user_information {
    margin: auto;
}
.input_username {
    visibility: hidden;
}
.input_username.visible {
    visibility: visible;
}
.input_surname {
    visibility: hidden;
}
.input_surname.visible {
    visibility: visible;
}
.input_id_number {
    visibility: hidden;
}
.input_id_number.visible {
    visibility: visible;
}
.input_residential_address {
    visibility: hidden;
}
.input_residential_address.visible {
    visibility: visible;
}
.input_phone_number {
    visibility: hidden;
}
.input_phone_number.visible {
    visibility: visible;
}
.input_email_address {
    visibility: hidden;
}
.input_email_address.visible {
    visibility: visible;
}