/*
variables
*/
:root {
    --them-color: ;
    --font: ;
    
}

html {
    height: 100%;
}


/* 
navigation bar:
-logo
-page navigation functions
-user access & user registration function
*/
nav {
    width: 100%;
    border: 2px solid blue;
}
.nav {
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}


/*logo*/
.logo_container {
    border: 2px solid orange;
}


/* dashboard*/
.dashboard {
    border: 2px solid red;
}
.dashboard_container {
    width: 100%;
    border: 2px solid lime;
}
.dashboard_container ul{
    display: flex;
    border: 2px solid orange;
    justify-content: space-around;
    list-style: none;
}


/*user access &user registration*/
.user_access_button_container {
    border: 2px solid brown;
}
.login {
    position: absolute;
    background: gold;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.login.visible {
    visibility: visible
}
.register {
    visibility: hidden;
    position: fixed;
    background: maroon;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}
.register.visible {
    visibility: visible;
}
.registration_form {
    margin: auto;
    background: blue;
}


/*

body:

*/
body {
    display: flex;
    flex-direction: column;
    min-height:100%
}
.body_container {
    display: flex;
    height: 100vh;
}


/*
footer:
-additiional documents
-copyright
-help center
*/
footer {
    margin-top: auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}


/*additional documents*/
.additional_documents {
    border: 2px solid blue;
}


/*copyright*/
.copyright {
    border: 2px solid red;
}


/*help center*/
.help_center {
    border: 2px solid green;
}


/* 

INDEX.HTML BODY

*/

/*summary*/
.summary_container {
    border: 2px solid pink;
    height: 100vh;
    display: flex;
}
.summary_text {
    border: 2px solid green;
    width: 80%;
    margin: auto;
}
.scroll {
    width: 50%;
}


/*
app widget:
-upload shortcut
-catagory division shortcuts
*/
.app_widget {
    border: 2px solid blue;
    height: 100vh;
    display: flex;
}


/*upload shortcut*/
.upload_shortcut {
    border: 2px solid red;
    min-width: 25%;
}


/*catagory division shortcuts*/
.catagory_division_shortcuts {
    border: 2px solid green;
    display: flex;
}
.catagory_summary {
    border: 2px solid pink;
    width: 100%;
}


/*associations*/
.associations {
    border: 2px solid black;
    height: 100vh;
    display: flex;
}
.associates_container {
    margin: auto;
}

/*

DASHBOARD.HTML BODY

*/

/* 
profile:
-user_profile_container
-listing_form
*/
.profile {
    border: 2px solid green;
    width: 25%;
}

/*user_profile_container*/
.user_profile_container {
    border: 2px solid black;
    display: flex;
    width: 80%;
}
.user_icon {
    border: 2px solid orange;
}
.profile_values {
    border: 2px solid blue;
}

/*listing_form*/
.listing_form {
    border: 2px solid red;
    width: 80%;
}

/*
user_listing_container:
-history_container
-active_listing_container
-pending_listings_container
*/
.user_listing_container {
    border: 2px solid orange;
    width: 75%;
}

/*history_container*/
.history_container {
    border: 2px solid pink;
    width: 80%;
}

/*active_listing_container*/
.active_listing_container {
    border: 2px solid purple;
    width: 80%;
}

/*pending_lidtings*/
.pending_listings {
    border: 2px solid blue;
}


/*

INFORMATION.HTML BODY

*/
.user_information {
    margin: auto;
}
/* username */
.input_username {
    visibility: hidden;
}
.input_username.visible {
    visibility: visible;
}
/* surname */
.input_surname {
    visibility: hidden;
}
.input_surname.visible {
    visibility: visible;
}
/* id number */
.input_id_number {
    visibility: hidden;
}
.input_id_number.visible {
    visibility: visible;
}
/* residential address */
.input_residential_address {
    visibility: hidden;
}
.input_residential_address.visible {
    visibility: visible;
}
/* phone number */
.input_phone_number {
    visibility: hidden;
}
.input_phone_number.visible {
    visibility: visible;
}
/* email address */
.input_email_address {
    visibility: hidden;
}
.input_email_address.visible {
    visibility: visible;
}


/*

DASHBOARD.HTML BODY

*/
/* pending items*/
.pending_item {
    max-width: 10% ;
}