/*
variables
*/
:root {
    --them-color: ;
    --font: ;
    
}

html {
    width: 100%;
    height: 100%;
}


/* 
navigation bar:
-logo
-page navigation functions
-user access & user registration function
*/
nav {
    width: 100%;
    
    position: fixed;
}
.nav {
    border: 2px solid green;
    background: white;
    display: flex;
    justify-content: space-between;
}

.home_page_container {
    border: 2px solid brown;
    width: 100%;
    display: flex;
    justify-content: left;
}
/*logo*/
.logo_container {
    border: 2px solid orange;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* dashboard*/
.dashboard {
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: right;
}
.dashboard_container {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
}
.dashboard_container ul{
    display: flex;
    border: 2px solid orange;
    justify-content: space-around;
    list-style: none;
}
.exit_dashboard {
    margin: auto;
    width: 20%;
}


/*user access &user registration*/
.user_access_button_container {
    border: 2px solid brown;
}
.login {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
}
.login.visible {
    visibility: visible
}
.register {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}
.register.visible {
    visibility: visible;
}


.form{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.btn {
    width: 50%;
    margin: auto;
}


/*

body:

*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height:100%;
}
.body_container {
    display: flex;
    height: 100vh;
    background: blue;
}
.product-icon {
    width: 5rem;
}
.product-card-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid orange;
    overflow: auto;
    justify-content: space-around;
}
.card-container {
    background: gray;
    width: 25%;
    flex: 0 0 auto;
}

.card-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*
footer:
-additiional documents
-copyright
-help center
*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*margin-top: auto;*/
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}


/*additional documents*/
.additional_documents {
    border: 2px solid blue;
}


/*copyright*/
.copyright {
    border: 2px solid red;
}


/*help center*/
.help_center {
    border: 2px solid green;
}