{% extends 'base.html' %}

{% block head %}
<title>letting App</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/app.css')}}">
{% endblock %}


{% block body %}

    <!--
        body container:
        -category divisions
        -search 
        -searrch results
    -->
    <div class="body_container">

        <!-- search -->
        <div class="search">
            <div class="search_bar">
                <input type="text" placeholder="input type">
                <input type="submit" value="search">
            </div>
        </div>

        <!-- search results -->
        <div class="search_results">
            <div class="active_listings_container">
                <div class="catagory_text">
                    <h2>
                         Active
                    </h2>
                </div>
                {% for approved_img in approved_img %}

                {% set x = approved_img|string %}

                {% set y = x.replace("(", "") %}
                {% set z = y.replace(")", "") %}
                {% set a = z.replace("'", "") %}
                {% set b = a.replace(",", "") %}

                {% set directory = 'assets/img/' %}

                {% set img_value = directory + b %}
                
                <div class="container">
                    <img src="{{ url_for('static', filename=img_value) }}" alt="Image Upload Display" class="img">
                </div>

                 {% endfor %}
            </div>
        </div>
         
    </div>

{% endblock %}
