<!DOCTYPE html>
<html>
    <header>
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='jquery.js')}}"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </header>

    <nav>

        <!--
            navigaation bar:
            -logo
            -dashboard
            -user access & user registration function
        -->
        <div class="nav">

            <!-- logo -->
            <span class="logo_container">
                <img src="" class="logo_img" alt="logo">
            </span>

            <!-- dashboard -->
            <span class="dashboard">
                <a href="javascript:void(0)" onclick="dashboard(document.getElementById('dashboard'))">
                    {% for dashboard in dashboard %}

                    {{ dashboard }}

                    {% endfor %}
                </a>
            </span>

            <!-- user access & user registration function -->
            <span class="user_access_button_container">
                <a href="javascript:void(0)" id="user_access_button">
                    {% for login in login %}
                    
                    {{ login }}
                    
                    {% endfor %}
                </a>
                <a href="/logout/" >
                    {% for logout in logout %}
                    
                    {{ logout }}
                    
                    {% endfor %}
                </a>
                
                <div class="login" id="login">

                    <button id="close_login_popup">
                        X
                    </button>
                    <form action="/login/" method="POST" class="form">
                        <input type="text" placeholder="username" name="username">
                        <input type="password" placeholder="password" name="password">
                        <input type="submit">
                    </form>

                    <button class="user_registration_button" id="user_registration_button">
                        register
                    </button>
                    <div class="register">

                        <div class="registration_form">
                            <button id="close_registration_popup">
                                X
                            </button>
                            <form action="/register" method="POST" class="form">
                                <input type="text" placeholder="name" name="username" required>
                                <input type="email" placeholder="email" name="email" required>
                                <input type="password" placeholder="password" name="password" required>
                                <input type="password" placeholder="confirm password" name="confirm_password">
                                <input type="submit" value="register">
                            </form>
                        </div>
                        
                    </div>
                </div>
            </span>

        </div>

        <div class="dashboard_container" id="dashboard">

        </div>

    </nav>

    <body>
        {% block body %}{% endblock %}
    </body>
    
    <footer>
        
        <!-- 
            footer:
            -additional documents
            -copyright
            -help center
        -->
        <!-- additional documents -->
        <div class="additional_documents">
            <ul>
                <li>placeholder</li>
                <li>placeholder</li>
                <li>placeholder</li>
            </ul>
        </div>

        <!-- copyright -->
        <div class="copyright">
            <ul>
                <li>placeholder</li>
                <li>placeholder</li>
            </ul>
        </div>

        <!-- help center -->
        <div class="help_center">
            <ul>
                <li>placeholder</li>
                <li>placeholder</li>
                <li>placeholder</li>
            </ul>
        </div>
    
    </footer>
</html>