{% extends 'base.html' %}

{% block head %}
<title>dashboard</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/dashboard.css')}}">
<script src="{{url_for('static', filename='scripts/dashboard.js')}}"></script>
{% endblock %}


{% block body %}

    <!--

            body container:
            -profile
            -user_listing

        -->
        <div class="body_container">

            <!--

                profile:
                -user_profile_container
                -listing_form

            -->
            <div class="profile">

                <!-- user_profile_container -->
                <div class="user_profile_container">
                    <div class="user_icon">
                        <img src="" alt="user_icon" class="user_icon_img">
                        <div class="available_funds">
                            <p>
                                placeholder
                            </p>
                        </div>
                    </div>

                    <div class="profile_values">
                        <ul>
                            <li>placeholder</li>
                            <li>placeholder</li>
                            <li>placeholder</li>
                        </ul>
                    </div>

                </div>

                <!-- listing_form -->
                <div class="listing_form">
                    <form action="/list_item/" method="POST" enctype="multipart/form-data">
                        <input type="text" placeholder="name of item" name="item_name" required>
                        <input type="text" placeholder="model description" name="model_description" required>
                        <input type="number" placeholder="price per 24hrs" name="price" required>
                        <input type="file" placeholder="upload item image" name="item_img" required>
                        <input type="submit" value="upload">
                    </form>
                </div>

            </div>

            <!-- 

                user_listing_container:
                -history_container
                -active_listings_container
                -pending_listings_container

             -->
            <div class="user_listing_container">

                <!-- history_container -->
                <div class="history_container">
                    <div class="history_list_container">

                    </div>
                </div>

                <!-- active_listings_container -->
                <div class="active_listings_container">
                    <div class="dashboard_listing_text">
                        <h2>
                             Active
                        </h2>
                    </div>
                    {% for approved_img in approved_img %}

                    {% set x = approved_img|string %}

                    {% set y = x.replace("(", "") %}
                    {% set z = y.replace(")", "") %}
                    {% set a = z.replace("'", "") %}
                    {% set b = a.replace(",", "") %}

                    {% set directory = 'assets/img/' %}

                    {% set img_value = directory + b %}
                    
                    <div class="container">
                        <img src="{{ url_for('static', filename=img_value) }}" alt="Image Upload Display" class="dashboard-img">
                        <form action="/delete_product/" method="POST">
                            <div class="form_placeholder">
                                <input type="text" value={{b}} name="product_name">
                            </div>
                            <input type="submit" value="delete">
                        </form>
                    </div>

                     {% endfor %}
                </div>
                
                <!-- pending_listings_container -->
                <div class="pending_listings_container">
                    <div class="dashboard_listing_text">
                        <h2>
                            Pending activation
                        </h2>
                    </div>
                    {% for pending_img in pending_img %}

                    {% set x = pending_img|string %}

                    {% set y = x.replace("(", "") %}
                    {% set z = y.replace(")", "") %}
                    {% set a = z.replace("'", "") %}
                    {% set b = a.replace(",", "") %}

                    {% set directory = 'assets/img/' %}

                    {% set img_value = directory + b %}

                    <div class="container">
                        <img src="{{ url_for('static', filename=img_value) }}" alt="Image Upload Display" class="dashboard-img">
                        <form action="/delete_product/" method="POST">
                            <div class="form_placeholder">
                                <input type="text" value={{b}} name="product_name">
                            </div>
                            <input type="submit" value="delete">
                        </form>
                    </div>

                     {% endfor %}
                </div>

                <div class="pending_listings_container">
                    <div class="dashboard_listing_text">
                        <h2>
                             Denied
                        </h2>
                    </div>
                    {% for denied_img in denied_img %}

                    {% set x = denied_img|string %}

                    {% set y = x.replace("(", "") %}
                    {% set z = y.replace(")", "") %}
                    {% set a = z.replace("'", "") %}
                    {% set b = a.replace(",", "") %}

                    {% set directory = 'assets/img/' %}

                    {% set img_value = directory + b %}

                    <div class="container">
                        <img src="{{ url_for('static', filename=img_value) }}" alt="Image Upload Display" class="dashboard-img">
                        <form action="/delete_product/" method="POST">
                            <div class="form_placeholder">
                                <input type="text" value={{b}} name="product_name">
                            </div>
                            <input type="submit" value="delete">
                        </form>
                    </div>

                     {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
