{% extends 'base.html' %}
{% block head %}
<title>dashboard</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/dashboard.css')}}">
<script src="{{url_for('static', filename='scripts/dashboard.js')}}"></script>
{% endblock %}
{% block body %}
<div class="body_container">
    <div class="dashboardCmdContainer">
        <div class="CmdContainer">
            <button onclick="toggleUploadForm(document.getElementById('information-container'))">
                list
            </button>
            <form action="/enable_dashboard_filter/" method="POST">
                <input type="hidden" value='information' name="catagory">
                <input type="submit" value="view information">
            </form>
            <form action="/enable_dashboard_filter/" method="POST">
                <input type="hidden" value='pending' name="catagory">
                <input type="submit" value="view pending">
            </form>
            <form action="/enable_dashboard_filter/" method="POST">
                <input type="hidden" value='activated' name="catagory">
                <input type="submit" value="view activated">
            </form>
            <form action="/enable_dashboard_filter/" method="POST">
                <input type="hidden" value='history' name="catagory">
                <input type="submit" value="view history">
            </form>
        </div>
    </div>
    <!-- information-container -->
    <div class="information-container" id="information-container">
        <div class="dashboard-title">
            <h2>
                {{ title }}
            </h2>
        </div>
        <div class="product-card-container">
            {% for item_data in item_data %}
            {% set x = item_data[0]|string %}
            {% set y = x.replace("(", "") %}
            {% set z = y.replace(")", "") %}
            {% set a = z.replace("'", "") %}
            {% set b = a.replace(",", "") %}
            {% set directory = 'assets/product_img/' %}
            {% set img_value = directory + b %}
            <div class="card-container">    
                <div class="card-header">
                    <img src="{{ url_for('static', filename=img_value) }}" alt="Image Upload Display" class="product-icon">
                </div>
                <div class="card-body">    
                    <p> {{ item_data[1] }} </p>
                </div>
                <div class="card-footer">
                    <form action="/product/" method="POST">
                        <div class="item-name-placeholder">
                            <input type="text" value={{item_data[0]}} name="product_name" style="width: 0;">
                        </div>
                        <p> {{'R ' + item_data[2]|string }}</p>
                        <input type="submit" value="more">
                    </form>
                </div> 
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
