{% extends 'base.html' %}

{% block head %}
<title>index</title>
{% endblock %}

  

{% block body %}
  <!-- summary -->
  <div class="summary_container">
        
    <div class="summary_text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Mauris pharetra et ultrices neque ornare aenean. 
            Iaculis nunc sed augue lacus viverra vitae congue eu consequat. 
            Sed vulputate odio ut enim blandit volutpat maecenas volutpat. 
            Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar.
            Sem nulla pharetra diam sit. Mauris pellentesque pulvinar pellentesque habitant.
            Congue nisi vitae suscipit tellus. Sit amet venenatis urna cursus eget nunc scelerisque viverra mauris. 
            Sit amet nisl purus in mollis nunc sed. 
            Bibendum ut tristique et egestas quis ipsum. 
            Tortor id aliquet lectus proin. Enim nec dui nunc mattis enim. 
            Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
            Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
            Pharetra sit amet aliquam id diam maecenas ultricies mi.
        </p>
        <button class="scroll" onclick="smoothScroll(document.getElementById('app_widget'))">
            <h1>
                V
            </h1>
        </button>
    </div>
    
</div>

<!-- 
    app widget:
    -upload shortcut
    -catagory division shortcuts
-->
<div class="app_widget" id="app_widget">
    
    <!-- upload shortcut -->
    <div class="upload_shortcut">
        <p>
            Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
            Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
            Pharetra sit amet aliquam id diam maecenas ultricies mi.
        </p>
    </div>

    <!-- catagory division shortcuts -->
    <div class="catagory_division_shortcuts">
        
        <div class="catagory_summary">
            <p>
                Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                Pharetra sit amet aliquam id diam maecenas ultricies mi.
            </p>
        </div>
        <div class="catagory_summary">
            <p>
                Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                Pharetra sit amet aliquam id diam maecenas ultricies mi.
            </p>
        </div>
        <div class="catagory_summary">
            <p>
                Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                Pharetra sit amet aliquam id diam maecenas ultricies mi.
            </p>
        </div>
        
        
    </div>
    <button class="scroll" onclick="smoothScroll(document.getElementById('associations'))">
            <h1>
                V
            </h1>
        </button>
</div>

<!-- 
    associates
 -->
<div class="associations" id="associations">
    <div class="associates_container">
        <div class="associate">
            <img src="" class="associate_img" alt="associate">
        </div>
        <div class="associate">
            <img src="" class="associate_img" alt="associate">
        </div>
    </div>
</div>
{% endblock %}