<!DOCTYPE html>
<html>
    <header>
        <title>index</title>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/stylesheets/index.css')}}">
        <script src="{{url_for('static', filename='jquery.js')}}"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <script src="{{url_for('static', filename='/scripts/index.js')}}"></script>
    </header>
    
    <nav>
        <!--
            navigaation bar:
            -logo
            -dashboard
            -user access & user registration function
        -->
        <div class="nav">
            <!-- main app -->
            <span class="home_page_container">
                <a href="/"><img src="{{url_for('static', filename='assets/icons/home-icon.png')}}" class="home_page" alt="home_page"></a>
            </span>

            <!-- logo -->
            <span class="logo_container">
                <img src="" class="logo_img" alt="logo">
            </span>

            <!-- dashboard -->
            <span class="dashboard">
                <script>
                    function indexDashboard() {
                        document.getElementById('dashboard').innerHTML = '<button id="user_access_button">login</button>'
                    }
                </script>
                    <a href="javascript:void(0)" id="user_access_button">
                        <img src="{{ url_for('letting_data.static', filename='user_docs/user_profile_img/default_user_icon.png') }}" alt="Image Upload Display" class="dashboard-img">
                    </a>
                    
                    <div class="login" id="login">

                        
                        <form action="/login/" method="POST" class="form">
                            
                            <input type="text" placeholder="username" name="username" required class="form-input">
                            <input type="password" placeholder="password" name="password"required class="form-input">
                            <input type="submit" value="Login" class="btn">
                            <button id="user_registration_button" class="btn">
                                Register
                            </button>
                            <button id="close_login_popup" class="btn">
                                Cancel
                            </button>
                        </form>

                        
                        <div class="register"> 
                            <form action="/register" method="POST" class="form">
                                
                                <input type="text" placeholder="name" name="username" required class="form-input">
                                <input type="email" placeholder="email" name="email" required class="form-input">
                                <input type="password" placeholder="password" name="password" required class="form-input">
                                <input type="password" placeholder="confirm password" name="confirm_password" required class="form-input">
                                <input type="submit" value="register" class="btn">
                                <button id="close_registration_popup" class="btn">
                                    Login
                                </button>
                                <button id="close_login_popup"class="btn">
                                    Cancel
                                </button>
                            </form>
                        </div>
                    </div>
            </span>
        </div>
    </nav>
    <body>
        <!-- summary -->
        <div class="summary_container">
                
            <div class="summary_text">
                <div class="text-summary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Mauris pharetra et ultrices neque ornare aenean. 
                        Iaculis nunc sed augue lacus viverra vitae congue eu consequat. 
                        Sed vulputate odio ut enim blandit volutpat maecenas volutpat. 
                        Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar.
                        Sem nulla pharetra diam sit. Mauris pellentesque pulvinar pellentesque habitant.
                        Congue nisi vitae suscipit tellus. Sit amet venenatis urna cursus eget nunc scelerisque viverra mauris. 
                        Sit amet nisl purus in mollis nunc sed. 
                        Bibendum ut tristique et egestas quis ipsum. 
                        Tortor id aliquet lectus proin. Enim nec dui nunc mattis enim. 
                        Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                        Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                        Pharetra sit amet aliquam id diam maecenas ultricies mi.
                    </p>
                </div>
            </div>
            <div class="scroll-container">
                <button class="scroll" onclick="smoothScroll(document.getElementById('app_widget'))">
                    <h1>
                        scroll
                    </h1>
                </button>
            </div>
            
        </div>

        <!-- 
            app widget:
            -upload shortcut
            -catagory division shortcuts
        -->
        <div class="app_widget" id="app_widget">
            <div class="app-widget-container">  
                <!-- upload shortcut -->
                <div class="upload_shortcut">
                    <div class="upload-shortcut-container">
                        <p>
                            Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                            Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                            Pharetra sit amet aliquam id diam maecenas ultricies mi.
                        </p>
                    </div>
                </div>
                <!-- catagory division shortcuts -->
                <div class="catagory_division_shortcuts">
                    
                    <div class="catagory_summary">
                        <p>
                            Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                            Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                            Pharetra sit amet aliquam id diam maecenas ultricies mi.
                        </p>
                    </div>
                    <div class="catagory_summary">
                        <p>
                            Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                            Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                            Pharetra sit amet aliquam id diam maecenas ultricies mi.
                        </p>
                    </div>
                    <div class="catagory_summary">
                        <p>
                            Sed vulputate mi sit amet mauris commodo. Tristique sollicitudin nibh sit amet commodo nulla. 
                            Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
                            Pharetra sit amet aliquam id diam maecenas ultricies mi.
                        </p>
                    </div>
                    
                    
                </div>
            </div>
            <button class="scroll" onclick="smoothScroll(document.getElementById('associations'))">
                    <h1>
                        V
                    </h1>
            </button>
        </div>

        <!-- 
            associates
        -->
        <div class="associations" id="associations">
            <div class="associates_container">
                <div class="associate">
                    <img src="" class="associate_img" alt="associate">
                </div>
                <div class="associate">
                    <img src="" class="associate_img" alt="associate">
                </div>
            </div>
        </div>
    </body>

    <footer>
            
            <!-- 
                footer:
                -additional documents
                -copyright
                -help center
            -->
            <!-- additional documents -->
            <div class="additional_documents">
                <ul>
                    <li>placeholder</li>
                    <li>placeholder</li>
                    <li>placeholder</li>
                </ul>
            </div>

            <!-- copyright -->
            <div class="copyright">
                <ul>
                    <li>placeholder</li>
                    <li>placeholder</li>
                </ul>
            </div>

            <!-- help center -->
            <div class="help_center">
                <ul>
                    <li>placeholder</li>
                    <li>placeholder</li>
                    <li>placeholder</li>
                </ul>
            </div>
        
    </footer>
</html>