{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/dashboard.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/information.css')}}">
<script src="{{url_for('static', filename='scripts/dashboard.js')}}"></script>
<script src="{{url_for('static', filename='scripts/information.js')}}"></script>
<title>Information</title>
{% endblock %}
{% block body %}
<div class="body_container">
    <div class="profile">
        <!-- user_profile_container -->
        
        <!-- listing_form -->
        <div class="listing_form">
            <form action="/list_item/" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="name of item" name="item_name" required>
                <input type="text" placeholder="model description" name="model_description" required>
                <input type="number" placeholder="price per 24hrs" name="price" required>
                <input type="file" placeholder="upload item image" name="item_img" required>
                <input type="submit" value="upload">
            </form>
        </div>
        <form action="/enable_dashboard_filter/" method="POST">
            <div class="catagory-placeholder">
                <input type="text" value='pending' name="catagory" style="width: 0;">
            </div>
            <input type="submit" value="view pending">
        </form>
        <form action="/enable_dashboard_filter/" method="POST">
            <div class="catagory-placeholder">
                <input type="text" value='activated' name="catagory" style="width: 0;">
            </div>
            <input type="submit" value="view activated">
        </form>
        <form action="/enable_dashboard_filter/" method="POST">
            <div class="catagory-placeholder">
                <input type="text" value='history' name="catagory" style="width: 0;">
            </div>
            <input type="submit" value="view history">
        </form>
    </div>
    <div class="information-container" id="information-container">
        <div class="dashboard-title">
                <h2>
                    {{ title }}
                </h2>
            </div>
        <div class="product-card-container">

            <div>
                <div class="user_profile_container">
                    <div class="user_icon">
                        <img src="" alt="user_icon" class="user_icon_img">
                    </div>
                    <div class="available_funds">
                        <p>
                            placeholder
                        </p>
                    </div>
                </div>
                <div class="profile_values">
                    <ul>
                        <li>placeholder</li>
                        <li>placeholder</li>
                        <li>placeholder</li>
                    </ul>
                </div>
            </div>
            <div>
                <span>
                    <p>
                        username: 
                        {% for user_data in user_data %}
                        {{ user_data[1] }}
                        {% endfor %}
                    </p>
                    <a href="javascript:void(0)" id="edit_username"><img src="{{ url_for('static', filename='assets/icons/edit-square-icon.png') }}" alt="edit" class="edit"></a>
                    <div class="input_username">
                        <form action="/update_username/" method="POST">
                            <input type="text" placeholder=" update name" name="username" required>
                            <input type="submit" value="update">
                            <button id="cancel_username_update">cancel</button>
                        </form>
                    </div>
                </span>
                <span>
                    <p>
                        surname:
                        {% for user_data in user_data %}
                        {{ user_data[2] }}
                        {% endfor %}
                    </p>
                    <a href="javascript:void(0)" id="edit_surname"><img src="{{ url_for('static', filename='assets/icons/edit-square-icon.png') }}" alt="edit" class="edit_data"></a>
                    <div class="input_surname">
                        <form action="/update_user_information/" method="POST">
                            <input type="text" placeholder="update surname" name="user_data_value" required>
                            <input type="hidden" name="user_data_type" value="surname">
                            <input type="submit" value="update">
                            <button id="cancel_surname_update">cancel</button>
                        </form>
                    </div>
                </span>
                <span>
                    <p>
                        email address:
                        {% for user_data in user_data %}
                        {{ user_data[3] }}
                        {% endfor %}
                    </p>
                    <a href="javascript:void(0)" id="edit_email_address"><img src="{{ url_for('static', filename='assets/icons/edit-square-icon.png') }}" alt="edit" class="edit_data"></a>
                    <div class="input_email_address">
                        <form action="/update_user_information/" method="POST">
                            <input type="email" placeholder="email" name="user_data_value" required>
                            <input type="hidden" name="user_data_type" value="email">
                            <input type="submit" value="update">
                            <button id="cancel_email_address_update">cancel</button>
                        </form>
                    </div>
                </span>
                <span>
                    <p>
                        residential address:
                        <br>
                        {% for user_data in user_data %}
                        {{ user_data[6] }}
                        <br>
                        {{ user_data[7] }}
                        <br>
                        {{ user_data[5] }}
                        {% endfor %}
                    </p>
                    <a href="javascript:void(0)" id="edit_residential_address"><img src="{{ url_for('static', filename='assets/icons/edit-square-icon.png') }}" alt="edit" class="edit_data"></a>
                    <div class="input_residential_address">
                        <form action="/update_user_information/" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="user_data_type" value="address">
                            <input type="text" placeholder="street" name="street_value" required>
                            <input type="text" placeholder="town/city" name="town_value" required>
                            <input type="text" placeholder="postal code" name="code_value" required>
                            <input type="file" name="proof_of_residence" required>
                            <input type="submit" value="update">
                            <button id="cancel_residential_address_update">cancel</button>
                        </form>
                    </div>
                </span> 
                <span>
                    <p>
                        phone number:
                        {% for user_data in user_data %}
                        {{ user_data[4] }}
                        {% endfor %}
                    </p>
                    <a href="javascript:void(0)" id="edit_phone_number"><img src="{{ url_for('static', filename='assets/icons/edit-square-icon.png') }}" alt="edit" class="edit_data"></a>
                    <div class="input_phone_number">
                        <form action="/update_user_information/" method="POST">
                            <input type="hidden" name="user_data_type" value="cell_no">
                            <input type="text" placeholder="update phone number" name="user_data_value" required>
                            <input type="submit" value="update">
                            <button id="cancel_phone_number_update">cancel</button>
                        </form>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}